In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2021-02-14 17:19:10,-33.6500,115.3333,70.00,88,82,7.90
1,1,Mikkeli,FI,2021-02-14 17:19:11,61.6886,27.2723,12.20,85,90,4.61
2,2,Ushuaia,AR,2021-02-14 17:19:00,-54.8000,-68.3000,48.20,53,0,6.22
3,3,Codrington,AU,2021-02-14 17:19:11,-38.2667,141.9667,59.41,77,66,11.03
4,4,Kahului,US,2021-02-14 17:19:11,20.8947,-156.4700,71.01,82,20,5.75

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Cidreira,BR,2021-02-14 17:19:11,-30.1811,-50.2056,80.91,67,63,3.49
9,9,Atuona,PF,2021-02-14 17:19:12,-9.8000,-139.0333,78.51,74,5,15.05
10,10,Rikitea,PF,2021-02-14 17:19:12,-23.1203,-134.9692,79.18,78,8,18.19
13,13,Tual,ID,2021-02-14 17:16:50,-5.6667,132.7500,83.08,80,100,18.01
16,16,Castro,BR,2021-02-14 17:17:01,-24.7911,-50.0119,76.30,66,99,10.56
19,19,Acapulco,MX,2021-02-14 17:19:13,16.8634,-99.8901,80.60,47,20,2.30
23,23,Bathsheba,BB,2021-02-14 17:19:14,13.2167,-59.5167,84.20,61,40,25.32
24,24,Touros,BR,2021-02-14 17:15:31,-5.1989,-35.4608,87.80,58,40,13.80
31,31,Bengkulu,ID,2021-02-14 17:19:15,-3.8004,102.2655,76.91,89,100,4.94
32,32,Mackay,AU,2021-02-14 17:18:07,-21.1500,149.2000,78.80,89,90,9.22

In [14]:
preferred_cities_df.count()

City_ID       177
City          177
Country       175
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [15]:
clean_preferred_cities = preferred_cities_df.dropna()
clean_preferred_cities

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Cidreira,BR,2021-02-14 17:19:11,-30.1811,-50.2056,80.91,67,63,3.49
9,9,Atuona,PF,2021-02-14 17:19:12,-9.8000,-139.0333,78.51,74,5,15.05
10,10,Rikitea,PF,2021-02-14 17:19:12,-23.1203,-134.9692,79.18,78,8,18.19
13,13,Tual,ID,2021-02-14 17:16:50,-5.6667,132.7500,83.08,80,100,18.01
16,16,Castro,BR,2021-02-14 17:17:01,-24.7911,-50.0119,76.30,66,99,10.56
...,...,...,...,...,...,...,...,...,...,...
565,565,Humaita,BR,2021-02-14 17:20:31,-7.5061,-63.0208,83.14,86,100,2.73
567,567,Malpe,IN,2021-02-14 17:20:31,13.3500,74.7167,80.60,74,20,3.44
570,570,Nioaque,BR,2021-02-14 17:20:32,-21.1353,-55.8300,86.18,71,72,2.62
580,580,Santa Ines,BR,2021-02-14 17:20:33,-3.6667,-45.3800,86.38,72,82,8.08
581,581,Luganville,VU,2021-02-14 17:20:33,-15.5333,167.1667,78.73,83,99,4.79

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
6    Cidreira      BR     80.91 -30.1811  -50.2056
9      Atuona      PF     78.51  -9.8000 -139.0333
10    Rikitea      PF     79.18 -23.1203 -134.9692
13       Tual      ID     83.08  -5.6667  132.7500
16     Castro      BR     76.30 -24.7911  -50.0119
19   Acapulco      MX     80.60  16.8634  -99.8901
23  Bathsheba      BB     84.20  13.2167  -59.5167
24     Touros      BR     87.80  -5.1989  -35.4608
31   Bengkulu      ID     76.91  -3.8004  102.2655
32     Mackay      AU     78.80 -21.1500  149.2000

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Dependencies and Setup
import requests
import gmaps
# Import API key
from config import g_key

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))